body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    margin: 0;
}

.header {
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
    padding: 10px 150px 70px;
}

.bar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

.link-header-one, .link-header-two, .link-header-three {
    text-decoration: none; 
    color: #E5E7EB;
 }

 ul {
     list-style-type: none;
     display: flex;
     gap: 20px;
 }

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    margin: 18px;
}

.card {
    display: flex;
    align-items: center;
    gap: 50px;
}

.big-text {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin: ;
}

.card-text {
    width: 1500px;
}

img {
    width: 100%;
}

.button-one {
    color: #F9FAF8;
    background-color: #cc0000;
    border-radius: 5px;
    border: none;
    padding: 8px 24px;
    font-size: 16px;
    font-weight: bold;
}

.footer {
    background-color: #1F2937;
}

h1 {
    margin-top: 50px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 40px 70px 70px;
}

.jlpt5, .jlpt4, .jlpt3, .jlpt2, .jlpt1 {
    width: 150px;
    height: 150px;
    border: 3px solid #1F2937;
    border-radius: 10px;
}

.img-one, .img-two, .img-three, .img-four, .img-five {
    color: #1F2937;
    text-align: center;
    font-weight: 550;
}

.link-info-one, .link-info-two, .link-info-three, .link-info-four, .link-info-five {
    text-decoration: none; 
    color: #1F2937;
 }

 .quote {
    background-color: #E5E7EB;
    padding: 50px 300px;
 }

 .quote-text {
    font-size: 30px;
    font-style: italic;
    font-weight: 200;
    color: #1F2937;
    text-align: center;
    text-align: justify;
 }

 .quote-author {
    font-weight: bold;
    text-align: end;
    font-size: 22px;
    color: #1F2937;
 }
 .signup {
    background-color: #cc0000;
    margin: 90px 200px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    border-radius: 10px;
    padding: 20px 30px;
 }

 .button-two {
    color: #F9FAF8;
    background-color: #cc0000;
    border-radius: 5px;
    border: 2px solid #F9FAF8;
    padding: 10px 30px;
    font-size: 16px;
    font-weight: bold;
 }

 h2 {
    margin-bottom: 5px;
    color: #E5E7EB;
 }

 p {
    margin-top: 5px;
    color: #E5E7EB;
 }

 .link-button-one, .link-button-two {
    text-decoration: none;
    color: #E5E7EB;
 }